html, body {
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    color: #484848;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
    flex: 1 0 auto;
}
